################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AgeCalculatorKata/.vs/AgeCalculatorKata
